body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#square {
  width: 150px;
  height: 150px;
  background-color: lightcoral;
}

@media (orientation: landscape) {
  #square {
    background-color: limegreen;
    border-radius: 50%;
  }
}

@media (orientation: portrait) {
  #square {
    background-color: crimson;
    border-radius: 10%;
  }
}
